<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create_admin</title>
</head>
<body>
    <form method="POST">
        <div>
        <label for="name">Enter Name:</label>
        <input type="text" , name="full_name", onfocus="this.value=''", value="name" , id="name">
        <br><br>
        <label for="user">Enter user_name</label>
        <input type="text" , name="user_name", onfocus="this.value=''", value="user_name" id="user_name">
        <br><br>
        <label for="email">Enter Email ID</label>
        <input type="email", name="email",value="email" , onfocus="this.value=''" ,id="email">
        <br><br>
        <label for="password">create a password</label>
        <input type="text" , name="password", onfocus="this.value=''", value="password">
        <br><br>
        <input type="submit" vale="Submit" >
    </form>
</body>
</html>