<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <form  method="POST" action="#" enctype="multipart/form-data">
        <label for="name">Product_Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="name">Product_Description</label>
        <input type="text" name="description" id="description">
        <br>
        <label for="man_Date">Manufacture Date</label>
        <input type="date" name="man_Date" id="man_Date">
        <br>
        <label for="expiry_date">Expiry_date</label>
        <input type="date" name="expiry_date" id="expiry_date">
        <br>
        <label for="rate">Rate</label>
        <input type="text" name="rate" id="rate">
        <br>
        <label for="Unit">Unit</label>
        <input type="text" name="Unit" id="Unit">
        <br>
        <label for="Quantity">Quantity</label>
        <input type="text" name="Quantity" id="Quantity">
        <label for="image">Upload Image:</label>
        <input type="file" name="image" id="image" accept="image/jpeg">
        <input type="submit" name="Submit">
    </form>
</body>
</html>